version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "18:00"
  open-pull-requests-limit: 10
  registries: "*"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-patch"]
  groups:
    patch:
      patterns:
        - '*'
      update-types:
        - 'patch'
    react:
      patterns:
        - "react"
        - "@types/react"
        - "react-dom"
        - "@types/react-dom"
    babel:
      patterns:
        - "@babel/*"
    aksel:
      patterns:
        - "@navikt/aksel-icons"
        - "@navikt/ds-*"
      exclude-patterns:
        - "@navikt/ds-icons"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
