version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "09:00"
  cooldown:
    default-days: 4
  open-pull-requests-limit: 20
  registries: "*"
  groups:
    react:
      patterns:
        - "react"
        - "@types/react"
        - "react-dom"
        - "@types/react-dom"
    babel:
      patterns:
        - "@babel/*"
    aksel:
      patterns:
        - "@navikt/aksel-icons"
        - "@navikt/ds-*"
    patch-updates:
      update-types:
        - patch
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
  cooldown:
    default-days: 4
