.oppgavercontainer {
    &__content {
        display: flex;
        padding: 1rem;
    }
}

.filterskjema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__content{
        margin-top: 2rem;
    }

    &__filtre{
        display: flex;
        flex-direction: row;
        &__filter{
            padding-right: 2rem;
        }
    }
    &__button{
        width: 10rem;
    }
}