.oppgavercontainer {
    &__content {
        display: flex;
        padding: 1rem;
    }
}

.filterskjema{
    display: flex;
    flex-direction: column;

    &__content{
        margin-top: 2rem;
    }

    &__filtre{
        display: flex;
        &__input{
            padding-right: 2rem;
        }
    }
    &__button{
        width: 10rem;
    }
}