.innerContent {
    &[data-open='true'] {
        padding: var(--ax-space-16);
        padding-top: var(--ax-space-8);

        & > div {
            margin: var(--ax-space-16) var(--ax-space-64);
        }
    }
}
