.søknad {
  max-width: 40rem;

  .panel {
    padding: 1rem 0;
  }

  .skjemagruppe {
    padding-left: 1rem;
  }

  &__barna, &__opphold {
    & .skjemaelement {
      margin: 1rem 0;
    }

    &__barn-rad {
      display: flex;
      align-items: center;

      &__fjern-barn {
        margin-left: 10px;
      }

      > .lese-felt:first-of-type {
        font-weight: bold;
      }
    }

    &__barn-rad:not(:first-child) {
      margin-top: -1rem;
      }
  }

  &__textarea {
    width: 100%;
  }

}

.søknad-modal {
  &__fjern-vilkår-advarsel {
    white-space: pre-wrap;
    padding-bottom: 3.5rem;
  }
}