.søknad {
  max-width: 40rem;
  margin: 0 auto;

  &__panel {
    &--innrykk {
      padding-left: 2rem;
    }

    &--gruppebarn {
      > .lese-felt:first-of-type {
        font-weight: bold;
      }
    }
  }

  &__barn, &__opphold {
    & .skjemaelement {
      margin: 1rem 0;
    }
  }

  &__textarea {
    width: 100%;
  }

}

.søknad-modal {
  &__fjern-vilkår-advarsel {
    white-space: pre-wrap;
    padding-bottom: 3.5rem;
  }
}