.container {
    height: calc(100% - 4rem);
    overflow-y: auto;
    overflow-x: hidden;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}