main.container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.blur {
    filter: blur(12px);
    -webkit-filter: blur(12px);
}

.flex {
    display: flex;
}

.flex--space {
    display: flex;

    > *:not(:first-child) {
        margin-left: .75rem;
    }
}

.ReactCollapse--collapse {
    transition: height 400ms ease-out;
    width: 100%;
}