.knapp {
    position: absolute;
    margin-right: -20px;
    top: 370px;
    width: 34px;
    min-width: 34px;
    height: 34px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--a-surface-default);
    z-index: 10;
}
