.vilkårsvurdering {
    @listPadding: 1.25rem;
    @itemPadding: 0.75rem;
    @tekstMargin: .5rem;

    &__person {
        &:first-child {
            padding-top: 2.5rem;
        }

        padding-top: 1.5rem;
        margin-top: 2rem;

        &--personlinje {
            display: flex;
            justify-content: space-between;
        }
    }
}
