.ikon-knapp {
    .knapp {
        height: 25px;
        text-decoration: underline;
    
        &:focus {
            outline: solid 2px @navBla;
        }
    
        &:hover {
            background-color: @navLysGra !important;
            text-decoration: unset;
        }
    }

    :first-child {
        margin-right: .5rem;
    }
}