.totrinnskontroll {
  width: 20.3125rem;
  padding: 1.2rem;

  .totrinnskontroll-tittel {
    display: flex;
    align-items: center;

    .ikon {
      margin-right: 0.5rem;
    }
  }

  .totrinnskontroll-skjemagruppe {
    margin: 1rem 0;
  }

  .totrinnskontroll-begrunnelse {
    margin-bottom: 2rem;
  }

  .totrinnskontroll-radiogruppe {
    .legend {
      padding-bottom: 2rem;
    }

    .totrinnskontroll-radio {
      display: inline-block;
    }

    .totrinnskontroll-radio:not(:last-child) {
      padding-right: 0.5rem;
    }
  }
}