.saksoversikt {
    &__opphør {
        padding: 1rem 0;

        & .knapp {
            margin-top: 1rem;
        }

        & .skjemaelement {
            margin-top: 1rem;
        }
    }

    &__alert {
        width: 39rem;
        margin-top: 2rem;
    }
}

.fagsak-panel {
    text-align: left;
    padding: 2rem !important;
    margin-top: 2rem;
    border: 1px solid @navGra60;
    width: 39rem;
}

.fagsak-lenkepanel {
    &:hover {
        border-color: @navBla;
    }
}

.fagsak-type-label{
    width: 39rem;
    margin-top: 2rem;
}

.navds-link-panel__content {
    width: 100%;
}