.saksoversikt {
    max-width: 40rem;
    margin: 0 auto;

    & .tittel {
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
    }

    &__utbetalinger {
        padding: 1rem 0;
    }

    &__aktivbehandling {
        padding: 1rem 0;

        & .knapp {
            margin: 1rem 0;
        }
    }

    &__behandlingshistorikk {
        padding: 2.5rem 0;
    }

    &__opphør {
        padding: 1rem 0;

        & .knapp {
            margin-top: 1rem;
        }

        & .skjemaelement {
            margin-top: 1rem;
        }
    }
}

.fagsak-panel {
    text-align: left;
    padding: 2rem !important;
    border: 1px solid @navGra60;

    > table {
        width: 100%;
    }

    .typo-undertittel {
        font-weight: normal;
    }
}

.fagsak-lenkepanel {
    &:hover {
        border-color: @navBla;
    }
}
