.saksoversikt {
    width: 40rem;
    margin: 0 auto;

    &__sak {
        column-count: 2;
        width: 30rem;
        padding: 1rem 0;
    }

    &__utbetalinger {
        padding: 1rem 0;
    }

    &__aktivbehandling {
        padding: 1rem 0;

        & .knapp {
            margin: 1rem 0;
        }
    }

    &__behandlingshistorikk {
        padding: 1rem 0;
    }
}