.behandlingskort {
   &__box{
        height: 12rem;
        border-left: 0.5rem solid @navGra40;
        &.innvilget {
            border-color: @navGronnDarken40;
        }
        &.avslått {
            border-color: @redErrorDarken20
        }
        &--header {
            margin: 0 0.5rem;
            border-bottom: 0.125rem solid @navGra40;
            height: 3.5rem;
            line-height: 3.5rem;
        }
   }

}