.errorIcon {
    color: var(--a-icon-danger);
}

.liste {
    min-height: 3.125rem;
    list-style: none;
    padding-left: 1.25rem;
}

.listElement {
    position: relative;
    margin: 0;
    padding: 0.75rem 0.75rem 0.75rem 2.25rem;

    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        background: var(--a-bg-subtle);
        top: 0;
        left: calc(0.5rem);
        transform: translateX(-0.5px);
    }

    &:after {
        position: absolute;
        content: '';
        background: white;
        border: 2px solid #59514b;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        top: 0.75rem;
        left: 0;
    }

    &:first-of-type:before {
        top: 0.75rem;
        height: calc(100% - 0.75rem);
    }
}
