.fastsett-periode {
    margin: 1rem 0;

    &__flex {
        width: 23rem;
        display: flex;
        justify-content: space-between;

        &--checkbox {
            margin-top: .5rem;
        }

        & .lese-element {
            width: 50%;
        }
    }
}