.fastsett-periode {
    margin: 1rem 0;

    .legend {
        display: flex;

        :first-child {
            margin-right: 1rem;
        }
    }

    &__flex {
        width: 23rem;
        display: flex;
        justify-content: space-between;

        & .lese-element {
            width: 50%;
        }

        .skjemaelement__label {
            color: @navMorkGra;
            font-size: 16px;
            font-weight: normal;
            height: 22px;
            line-height: 22px;
        }
    }
}