.høyremeny {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: calc(100vh - 8rem);

    .hendelsesbeskrivelse {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}