.visittkort {
    padding: 0 1rem;
    &__lenke {
        margin: 0 3rem;
    }
}

.fagsakcontainer {
    &__content {
        display: flex;
        height: calc(100vh - 8rem);

        &--venstremeny {
            min-width: 10rem;
            border-right: 2px solid @navGra40;
            overflow: hidden;
        }

        &--main {
            flex: 1;
            overflow: auto;
        }
    
        &--høyremeny {
            border-left: 2px solid @navGra40;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
}