.tilkjentytelse-informasjon {
  padding: 0.8rem 0;

  .tilkjentytelse {
    & .tidslinje {
      display: flex;

      &__labels {
        min-width: 10rem;

        &__etikett {
          transform: translateX(100%);
          color: #0067c5;
          text-decoration: underline;
          margin-top: -10px;
        }

        &__etikett:hover {
          text-decoration: none;
        }

        &__informasjon-boks {
          margin-top: 24px;
          padding: 40px;
          height: 281px;
          border: 1px solid rgb(120, 112, 106);
          box-shadow: 0px 0.8px 4px 2px rgba(0, 0, 0, 0.08);
        }

        &__labels {
          min-width: 10rem;

          & .typo-normal:first-child  {
            margin-top: 3.625rem;
          }

          & .typo-normal:not(:first-child) {
            margin-top: .5rem;
          }
        }

    &__scroll {
      overflow-x: auto;
      width: 100%;

      &--inner {
        width: 1920px;
      }
    }
  }
}

.tilkjentytelse-rad {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid @navGra20;
  cursor: pointer;

  &.åpen {
    border: 2px solid @navDypBlaLighten20;
  }

  &.tilkjentytelse-header-rad {
    border-bottom: 1px solid @navGra80;
  }

  & .tilkjentytelse-kolonne:nth-child(1) {
    max-width: 40px;
    padding-left: 0.8rem;
    padding-right: 1.2rem;
  }

  & .tilkjentytelse-kolonne:nth-child(2) {
    flex: 4;
  }

  & .tilkjentytelse-kolonne:nth-child(3) {
    flex: 3;
    padding-right: 1.2rem;
  }

  & .tilkjentytelse-kolonne:nth-child(4) {
    flex: 8;
  }

  & .tilkjentytelse-kolonne:nth-child(5) {
    flex: 2;
    text-align: center;
    padding-right: 1.2rem;
  }

  & .tilkjentytelse-kolonne:nth-child(6) {
    flex: 2;
    padding-right: 1.2rem;
    text-align: right;
    white-space: nowrap;
  }

  & .tilkjentytelse-kolonne {
    box-sizing: border-box;
    flex-grow: 1;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    overflow: visible;
    list-style: none;

    &.åpen {
      background-color: @navBlaLighten80;
    }

  }

  & .tilkjentytelse-detaljer-rad {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;

    & .tilkjentytelse-detaljer-kolonne:nth-child(1) {
      max-width: 40px;
      padding-left: 0.8rem;
      padding-right: 1.2rem;
    }
    & .tilkjentytelse-detaljer-kolonne:nth-child(2) {
      flex: 7;
      padding-right: 1.2rem;
    }
    & .tilkjentytelse-detaljer-kolonne:nth-child(3) {
      flex: 10;
      padding-right: 1.2rem;
    }
    & .tilkjentytelse-detaljer-kolonne:nth-child(4) {
      flex: 2;
      padding-right: 1.2rem;
      text-align: right;
      white-space: nowrap;
    }
  }

  & .tilkjentytelse-detaljer-kolonne {
    box-sizing: border-box;
    flex-grow: 1;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    overflow: hidden;
    list-style: none;

    &.familierelasjon-separator {
      border-bottom: 1px dashed @navGra20;
    }

    & .familie-ikon {
      height: 20px;
      width: 20px;
      margin-right: 0.5rem;
    }
  }
}