.journalføring {
    height: calc(100vh - 3rem);
    overflow: auto;

    &__logisk-vedlegg {
        display: flex;

        &--input {
            width: 20rem;
        }

        & .lukknapp {
            margin-left: 1rem;
            margin-top: 2rem;
        }
    }

    .behandlingliste {
        &__tabell {
            &--behandlingtype {
                label {
                    text-indent: 2rem !important;
                }
            }
        }
    }

}