.skjemasteg {
    padding: 2rem;

    .typo-innholdstittel {
        padding-bottom: 1rem;
    }

    &__navigering {
        padding: 1rem 0;
        display: flex;
        flex-direction: row-reverse;

        &--flex {
            flex: 1;
        }
    }
}