.oppsummering {
    margin-top: 0.5em;

    & .iframe {
        width: 100%;
        min-height: calc(100vh - 20rem);
        background-color: white;
        border: none;
    }

    &__navigering {
        display: flex;
        justify-content: space-between;
    }
}

.pdf-frame{
    height: 74vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: @navLysGra;
    border: 1px solid @navGra80;
    overflow: auto;
}