.oppsummering {
    margin-top: 0.5em;

    & .iframe {
        width: 100%;
        min-height: calc(100vh - 20rem);
        background-color: white;
        border: none;
    }

    &__navigering {
        display: flex;
        justify-content: space-between;
    }

    & .flexContainer {
        height: 95%;
        display: flex;
        flex-wrap: wrap;
        background-color: #F5F5F5;
        border: 1px solid @navGra20;
        border-top: none;
        overflow: hidden;
    }

    & .pdf {
        margin: auto;
        display: block;
        overflow: visible;
    }
}