.generisk-vilkår {
    width: 30rem;
    padding: 1rem 0;

    &__ekspandert {
        margin-top: .5rem;
        
        &--begrunnelse {
            min-height: 8rem !important;
        }
        &--knapperad {
            display: flex;
            justify-content: space-between;
        }
        & .knapp:not(:first-child) {
            margin-left: 1rem;
        }
    }

    &__en-periode {
        &--tittel {
            display: flex;
            align-items: center;
            justify-content: space-between;

            
        }
    }
}

.horisontal-sentrert-div {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
        margin-left: .75rem;
    }
}

