.generisk-vilkår {
    margin-top: 2rem;

    .tabell {
        table-layout: fixed;

        td {
            border-bottom: 1px dashed #cccccc;
        }

        th {
            &:nth-of-type(1) {
                width: 6rem;
            }
            &:nth-of-type(2) {
                width: 12rem;
            }
            &:nth-of-type(4) {
                width: 8rem;
            }
            &:nth-of-type(5) {
                width: 3rem;
            }
            &:nth-of-type(6) {
                width: 15rem;
            }
        }

        .beskrivelse {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    & ~ .generisk-vilkår {
        margin-top: 2.5rem;
    }

    &__ekspandert {
        margin-top: .5rem;

        .endre-vilkår {
            max-width: 30rem;
            border-left: 2px solid @navBla;
            padding-left: 2rem;

            .skjemagruppe {
                margin: 1rem 0;
            }
            
            .begrunnelse {
                min-height: 8rem !important;
            }
    
            .knapperad {
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;
            }
    
            .knapp:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }
}

.horisontal-sentrert-div {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
        margin-left: .75rem;
    }
}

