.opprettbehandling {
    max-width: 60rem;
    margin: 0 auto;

    & .alertstripe {
        margin-top: 1rem;
    }
    
    &__skjemagruppe {
        margin: 1rem 0;

        &--barn {
            display: flex;
    
            & .skjemaelement {
                width: 17.5rem;
            }
    
            & .knapp--kompakt {
                margin-left: 1rem;
                margin-top: 1.8rem;
                height: 1rem;
            }
        }
    }
}