.personinformasjon {
    display: flex;
    align-items: center;

    .familie-ikon {
        margin-right: 1.5rem;
    }

    .informasjonstekster {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .navn {
            max-width: 15rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}