.personinformasjon {
    display: flex;
    align-items: center;

    .familie-ikon {
        margin-right: 1.5rem;

        &--for-normaltekst {
            margin-right: 0.5rem;
        }
    }

    .typo-normal {
        font-weight: 600;
    }

    .navn {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}