.behandlingsresultat-informasjonsboks {
  border: 1px solid @navGra60;
  min-height: 17rem;
  padding: 2.5rem;
  text-align: left;

  > * {
    color: @navMorkGra;
  }

  * th, td {
    padding: 0 2.5rem 0.5rem 0;
  }

  * th {
    padding-bottom: 0.875rem;

    & .typo-normal {
      font-weight: bold;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;

    &__info {
      display: flex;
      flex-direction: column;

      > p {
        padding-bottom: 0.5rem;
      }

      &__totalbeløp {
        margin: 1rem;
        font-weight: bold;
      }
    }
  }
}