.behandlingsresultat-informasjonsboks {
  border: 1px solid @navGra60;
  min-height: 17rem;
  padding: 2.5rem;
  text-align: left;

  > * {
    color: @navMorkGra;
  }

  * th, td {
    padding: 0 2.5rem 0.5rem 0;
  }

  * th {
    padding-bottom: 0.875rem;

    & .typo-normal {
      font-weight: bold;
    }
  }

}