.vilkår {
    width: 60rem;
    margin: 0 auto;
    padding-top: 2rem;
    
    &__skjemagruppe {
        margin: 1rem 0;

        &--begrunnelse {
            min-height: 10rem !important;
        }
    }
}
