.select {
    label:has(+ div) {
        width: 100% !important;
    }
}

.textarea {
    margin-top: var(--ax-space-8);
    margin-bottom: var(--ax-space-8);
    flex: auto;
}

.removeButton {
    align-self: center;
    height: fit-content;
}

.addButton {
    justify-content: flex-start;
}

.textField {
    width: fit-content;
}
