.uimodal {
    width: 35rem;
    min-height: 12rem;
    color: @navMorkGra;
    overflow: visible !important;

    &__content {
        padding: .5rem 1.5rem;

        &--inner-content {
            margin-top: 2rem;
        }

        &--actions {
            margin-top: 1rem;
            margin-bottom: .5rem;
            display: flex;
            justify-content: flex-end;
            
            .knapp:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }
}

.uimodal-wider {
    width: 41rem;
    padding-top: 2.6rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 0.6rem !important;
    padding-left: 1.5rem !important;
}

.utdatert-losning {
    display: flex;

    & .typo-normal {
        padding-left: .5rem;
    }
}