@import (reference) '~nav-frontend-core/less/_variabler';

@oppgavePageHeight: ~"calc("100vh ~"-" 30px ~"-" 1.1rem~")";

.oppgavebenk {
    padding: .5rem;
    height: @oppgavePageHeight;
    width: 100vw;
    overflow: auto;

    & hr {
        margin-top: 2rem;
    }

    
}

.oppgave-header {
    display: flex;
    justify-content: space-between;

    .filterskjema {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    
        &__filtre {
            display: flex;
    
            & > * {
                margin-top: 1rem;
            }
    
            &--input{
                padding-right: 1.5rem;
            }
        }
    }
}

.oppgavelist {
    &__header {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .navigator {
            color: @navMorkGra;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .pagination {
                padding-left: 1rem;
            }

            &--felt {
                padding: 0 1rem 0 1rem;
            }
        }
    }

    .tabell {
        .oppgavetype {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0;
        }
        
        .tildelt-enhetsnr {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0;
        }
        
        .tilordnet-ressurs {
            .kolonne {
                display: flex;
                align-items: center;
            }
        }
        
        .handlinger > button {
            color: #0067c5;
            padding-right: 1rem;

            &:focus{
                border: 2px solid @fokusFarge;
            }
        }        
        
        .beskrivelse {
            max-width: 15rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0;
        }
    }
}