.oppgavelist {
    .tabell {
        .oppgavetype {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0;
        }
        
        .tildelt-enhetsnr {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0;
        }
        
        .tilordnet-ressurs {
            .kolonne {
                display: flex;
                align-items: center;
            }
        }
        
        .handlinger > button {
            padding-right: 1rem;
        }        
        
        .beskrivelse {
            max-width: 15rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0;
        }
    }
}