name: OBS! Rett i prod

on:
  workflow_dispatch:

env:
  IMAGE: ghcr.io/navikt/familie-ba-sak-frontend:${{ github.sha }}
  IMAGE_LATEST: ghcr.io/navikt/familie-ba-sak-frontend:latest
  VERSION: familie-ba-sak-frontend:${{ github.sha }}

jobs:
  build:
    name: Build and push Docker container
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: yarn
          registry-url: "https://npm.pkg.github.com"
      - name: Yarn install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: yarn --prefer-offline --frozen-lockfile
      - name: Build and publish Docker image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_RELEASE: ${{ github.sha }}
        run: |
          yarn build
          yarn test
          docker build . -t ${IMAGE} -t ${IMAGE_LATEST}
          echo ${GITHUB_TOKEN} | docker login ghcr.io --username ${GITHUB_REPOSITORY} --password-stdin
          docker push ${IMAGE}
          docker push ${IMAGE_LATEST} 
  deploy:
    name: Deploy to NAIS
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Deploy til prod-gcp team namespace
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: build_n_deploy/naiserator/gcp-prod.yaml
          VAR: VERSION=${{ env.VERSION }}

  loggfeil:
    name: Send logg til slack ved feil
    runs-on: ubuntu-latest
    needs: [deploy]
    if: failure()
    steps:
      - name: Send logg til slack ved feil
        run: |
          curl -X POST --data "{\"text\": \"Deploy av $GITHUB_REPOSITORY feilet - $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\"}" $WEBHOOK_URL
        env:
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}