.brevskjema {
    &.skjemagruppe{
        .skjemaelement {
            margin-top: 1rem;
            .tekstfelt{
                width: 100%
            }
        }
        
        .knapperekke {
            display: flex;
            justify-content: space-between;

            .knapp {
                margin-top: 1rem;
            }
        }
    }
}