.icon {
    font-size: 1.5rem;
    min-width: 1.5rem;
}

.ok {
    color: var(--ax-text-success-subtle);
}

.feil {
    color: var(--ax-text-danger-subtle);
}

.advarsel {
    color: var(--ax-text-warning-subtle);
}

.info {
    color: var(--ax-text-info-subtle);
}
